.App {
  border: 1px solid rgb(202, 201, 201);
  border-radius: 2px;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgb(246, 244, 244);
}

h2 {
  margin-bottom: 0;
  font-size: 42px;
}

.parag {
  margin: 0;
}

.info {
  display: flexbox;
  align-content: space-evenly;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
